.rodape{
    background-color: #000;
    height: 300px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 62px 0 20px;
}
.rodape img{
    width: auto;
    height: 130px;
}
.container-rodape{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.rodape h3{
    text-transform: uppercase;
}
.rodape .cards{
    width: 200px;
}
.rodape span{
    color: #f9db79;
    font-weight: 600;
}

@media screen and (max-width: 768px){
    .rodape{
        height: auto;
        text-align: center;
        padding: 62px 16px 30px;
    }
    .rodape img{
        margin-bottom: 12px;
    }
    .container-rodape{
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .rodape .cards{
        width: auto;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 436px){
    .rodape div:last-of-type{
        max-width: 316px;
        font-size: 14px;
    }
}