::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 15px;
}
body{
    background-color: #f9db79;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.limitar-secao{
    max-width: 1024px;
    margin: 0 auto;
}